.main {
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

/* For Chrome, Safari, and Opera */
.main::-webkit-scrollbar {
  display: none;
}
.main {
  font-family: 'Courier New', monospace;
  background-color: #000;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #0f0;
  padding: 20px;
}

.matrix-container::-webkit-scrollbar {
  width: 6px;
}

.matrix-container::-webkit-scrollbar-thumb {
  background-color: #32cd32;
  border-radius: 20px;
}

.matrix-container::-webkit-scrollbar-track {
  background-color: #000;
}

.input {
  background-color: #000;
  border: none;
  padding: 0.5rem;
  color: #0f0;
  outline: none;
  font-family: 'Courier New', monospace;
  width: 1000px;
}

.usermessage {
  color: rgb(183, 187, 183);
}
